---
import config from "../config"

import "@fontsource/fira-sans/400.css"
import "@fontsource/fira-sans/500.css"
import "@fontsource/fira-sans/600.css"
import "@fontsource/fira-sans/700.css"
import "@fontsource/fira-sans/400-italic.css"
import "@fontsource/fira-sans/500-italic.css"
import "@fontsource/fira-sans/600-italic.css"
import "@fontsource/fira-sans/700-italic.css"

const { title } = Astro.props
---

<title>{title}</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content={config.metadata.author} />
<meta name="keywords" content={config.metadata.keywords.join()} />
<meta name="category" content={config.metadata.category} />
<meta name="summary" content={config.metadata.summary} />